# 编译产物
bin/
build/
*.exe
*.exe~
*.dll
*.so
*.dylib

# 测试产物
*.test
*.out
coverage.html
coverage.txt

# Go
vendor/
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# 证书私钥（不提交）
certs/*-key.pem

# 运行时代码生成 & 缓存
config/              # 配置中心下载到本地的配置
nacos-log/           # Nacos SDK 日志
nacos-cache/         # Nacos SDK 缓存

# 临时&日志文件
/tmp/
*.log
*.pid
